/* body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.App {
  text-align: center;
  background-color: #fff;
  padding: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px  400px;
  min-width: 40%;
}

h1 {
  color: #222;
  font-size: 1.7rem;
  margin-top: -.1rem;
  color: #367c39;
}

input[type="text"] {

  padding: .75rem;
  margin: 10px 0;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-left: .75rem;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #367c39;
}

p.error{
  color: #ff0000;
  margin: 10px 0;
  text-align: center;
}

#resultContainer {
  margin-left: 1.7rem;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


@media  (min-width: 600px) {
  .App {
   width: 100%;
   margin: 0px;
  }
h1{
  margin-top: 1.7rem;
  font-size: 3rem;
}

  input[type="text"] {
    width: 65%;
    padding: 1rem;
    font-size: 2rem;
  }

  button {
    width: 15%;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 1.3rem 0rem;
  }

  #resultContainer {
    margin-left: 0rem;
  
    padding: 1rem 6rem;
  }
} */


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.App {
  text-align: center;
  background-color: #fff;
  padding: 1.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 400px;
  min-width: 40%;
}

h1 {
  color: #222;
  font-size: 1.7rem;
  margin-top: -0.1rem;
  color: #367c39;
}

input[type="text"] {
  padding: 0.75rem;
  margin: 10px 0;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  margin-left: 0.75rem;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #367c39;
}

p.error {
  color: #ff0000;
  margin: 10px 0;
  text-align: center;
}

#resultContainer {
  margin-left: 1.7rem;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
  .App {
    width: 100%;
    margin: 0px;
  }

  h1 {
    margin-top: 1.7rem;
    font-size: 3rem;
  }

  input[type="text"] {
    width: 65%;
    padding: 1rem;
    font-size: 2rem;
  }

  button {
    width: 15%;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 1.3rem 0rem;
  }

  #resultContainer {
    margin-left: 0rem;
    padding: 1rem 6rem;
  }
}
